@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right-section {
  width: 33.33%;
  background: url("../Assets/Celebrities Looks.jpeg") no-repeat center center;
  background-size: cover;
}

.left-section {
  width: 66.67%;
  background: linear-gradient(
    27deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 5, 18, 1) 28%,
    rgba(65, 12, 69, 1) 85%,
    rgba(200, 23, 83, 1) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.semi-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  margin-right: 30px;
  z-index: 1;
}

.name1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin-top: 20px;
  margin-left: 30px;
  width: 30%;
  z-index: 2;
}

.name1::-webkit-scrollbar {
  display: none;  /* Hide scrollbar for Chrome, Safari and Opera */
}

.name1 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.name1 img {
  max-width: 200px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.social-icons1 {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 22px;
}

.social-icons1 svg {
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social-icons1 svg:hover {
  transform: scale(1.5);
}

.tag {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.tag a svg {
  color: #130219;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tag a:hover svg {
  transform: scale(1.5);
  color: #280b33;
}
