.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .loading-content {
    text-align: center;
  }
  
  .loading-image {
    width: 150px; /* Increased size */
    height: 150px; /* Increased size */
    animation: fade 3s infinite;
    display: block; /* Ensures the images stack vertically */
    margin: 0 auto; /* Centers the image */
  }
  
  @keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  /* .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #ddd; 
  } */
  
  .loading-bar {
    margin-top: 20px;
    width: 80%;
    height: 10px;
    /* background-color: #030303; */
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  
  .loading-bar-progress {
    height: 100%;
    background-color: #f2f5f2;
    border-radius: 5px;
    transition: width 0.1s;
  }
  