/* Ensure root container (#root) fills the viewport */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Ensure body fills the viewport with Poppins font */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}
